@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

*, *::before, 
*::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: none;
    font-family: 'TW Cen MT', sans-serif;

}

.container{
    position:relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url("https://www.hiltonhotels.com/assets/img/hotels/ISTBHHI_Hilton_Istanbul_Bomonti_Hotel_Conference_Center/mast-1.jpg");
    background-size: cover;
    background-position: center;
    padding: 0 8%;

}

#logo a {
    position: absolute;
    margin-left:-800px;
    width: 150px;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
   
}

.nav_links .link{
    font-weight: 500;
    font-size: 16px;

}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:30px 10px;

}

nav{
    order: 1;
}

.nav_links {
    list-style: none;
}

.nav_links .liste{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links .liste .link{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #ffffff;
}

.nav_links .liste .link:hover{
    color: #0088a9;
}

.cta {
    order: 2;
}
.cta .bouton {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 16px;
    font-family: 'TW Cen MT', sans-serif;
}

.bouton:hover{
    background-color: rgba(0, 136, 169, 0.8);
}




.site-container{
    position: absolute;
    bottom: 10%;
    color: #fff;

}

.site-container p{
    font-size: 50px;
    font-weight: bold;
}

.site-container h1{
    font-size: 120px;
    line-height: 120px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, transparent, transparent 15px, #e5e5f7 5px, #e5e5f7 30px );
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: animate 20s linear 2s infinite alternate;
}

@keyframes animate{
    100%{
        background-position: -500px;
    }
}

.site-container h3{
    font-size: 40px;
    font-weight: 500;

}

.site-container .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;

}

.row a{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    margin-right: 40px;
    font-size: 18px;
    transition:0.3s;
}

.row a:hover{
    background-color: #fff;
    color:#000;
}

.row a span {
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    margin-left: 10px;


}

.row span{
    font-size: 18px;
}
