
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'TW Cen MT', sans-serif;
  

}


html{
  scroll-behavior:smooth ;
  overflow: visible;
}

body {
  line-height: 1.6;

}

h4{
  padding: 8px 0;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*NAVIGATION*/
.container{
  position:relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url("https://www.hiltonhotels.com/assets/img/hotels/ISTBHHI_Hilton_Istanbul_Bomonti_Hotel_Conference_Center/mast-1.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 8%;

}
#logo a {
  position: absolute;
  margin-left:-800px;
  width: 150px;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-decoration: none;
 
}

.nav_links .link{
  font-weight: 500;
  font-size: 16px;

}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:30px 10px;

}

nav{
  order: 1;
}

.nav_links {
  list-style: none;
}

.nav_links .liste{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links .liste .link{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #000;
}

.nav_links .liste .link:hover{
  color: #0088a9;
}

.cta {
  order: 2;
}
.cta .bouton {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  color: white;
  font-size: 16px;
  font-family: 'TW Cen MT', sans-serif;
}

.bouton:hover{
  background-color: rgba(0, 136, 169, 0.8);
}


/*NOTATION*/

.rating a {
  
  color: #d5c12c;
  text-decoration: none;
  font-size: 25px;
  transition: color .4s;
}

.rating{
  position: relative;
  left: 123px;
  bottom: 120px;
  line-height: 22px;

}

.rating a:hover ~ a,
.rating a:focus ~ a {
   color: rgb(173, 173, 173);
  
}






/*SLIDE*/

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: 150px auto;
  

}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  animation: glisse 5s infinite;
}

.slides input{
  display: none;
}



.slide{
  float: left;
  width: 20%;
  transition: 5s;
}

.slide img{
  width: 800px;
  height: 500px;
}

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;

}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px; 
  cursor: pointer;
  transition:1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px ;
}

.manual-btn:hover{
  background: #40D3DC;

}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
@keyframes glisse{
  0%{
    transform: translateX(0)
  }

  10%{
    transform: translateX(0)
  }

  33%{
    transform: translateX(-500px)
  }

  43%{
    transform: translateX(-500px)
  }

  66%{
    transform: translateX(-1000px)
  }

  70%{
    transform: translateX(-1000px)
  }

  100%{
    transform: translateX(0)
  }
}



/*SECTION*/

section .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 130px;
}

/*IMAGE*/

section .main .main_image img{
  width: 700px;
  position: relative;
  left: 70px;
  border-radius: 15px;
}

/*TITRE*/

section .main .men_text h1 {
  font-size: 40px;
  position: relative;
  top: -120px;;
  left: -90px;

}

section .main .men_text h1 span{
  margin-left: 15px;
  color: #110955;
  font-family: 'TW Cen MT', sans-serif;
  line-height:22px ;
  font-size: 50px;
  position: relative;
}

section p{
  width: 500px;
  text-align: justify;
  position: relative;
  left: 123px;
  bottom: 120px;
  line-height: 22px;
}



section .main_btn{
  position: relative;
  left: 123px;
  bottom: 30px;

}

.btn{
  background: none;
  width: 200px;
  height: 50px;
  border: 2px solid #45aaf2;
  font-size:15px ;
  font-weight: bold;
  color:#45aaf2;
  transition: 0.4s linear;
  position: relative;
  cursor: pointer;
  border-radius: 10px;

}

.btn:hover{
  color: white;

}

.btn::before{
  content:"";
  position: absolute;
  width:0px;
  height: 50px;
  top: 0px;
  left: 0px;
  background: #45aaf2;
  z-index: -1;
  transition: 0.4s linear;
  border-radius: 10px;


}

.btn:hover::before{
  width:200px;
}


/*SERVICES*/

.title{
  text-decoration: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  color: var(--yellow);
  border-bottom: 5px solid black;
  width: 235px;
  margin: 15px 0;

}
.sec-width{
  width: 85vw;
  margin: 0 auto!important;

}

.services{
  margin: 40px 0;

}
.service{
  display: flex;
  margin: 30px 0;
}

.service-icon{
  flex:30%;
  align-self: flex-start;
  font-size: 48px;
  color: #252525;
}

.service-content{
  padding-left: 20px;
}

.service-content h4{
  opacity: 0.7;

}

/* FORMULAIRE */
input {
  width: 100%;
  padding: 10px;
  margin: 5px;
  outline: none;
}

input::placeholder {
  color: #000000;
  opacity: 1;
}

input:placeholder-shown {
  border: 1px solid #000000;
}

.formBloc{
  padding: 40px;
}

.formBloc h3 {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 45px;
}

.formBloc .formGroup {
  position: relative;
  display: flex;
  margin-bottom: 40px;
}

.formBloc .formGroupe label {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  font-size: 20%;
  transition: 0.4s ease-out;
}

.formBloc .formGroupe input {
  display: block;
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: 0.4s ease-out;
}

.formGroupe:nth-child(8) {
  margin-bottom: 65px;
  justify-content: center;
}

.formBloc .formGroupe .buttonSub {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 999px;
  background-image: linear-gradient (to left, transparent 50%, #5260ad 50%, #8b97d7);
  background-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.formBloc .formGroupe .buttonSub:hover {
  color: rgb(0, 0, 0);
  background-position: 100%;
  border: 3px, solid rgb(0, 0, 0);
}

/*FOOTER*/
footer{
  background: #111;
  height: auto;
  width: 100vw;
  font-family: 'TW Cen MT', sans-serif;
  padding-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;

}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3 rem 0;

}

.socials li {
  margin: 0 10px;

}

.socials a {
  text-decoration: none;
  color: #fff;

  
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}

.socials a:hover i{
  color:aqua;
  
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;

}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight:200 ;
}